/*html{ min-width: 1230px; }*/
body{ width:100%; position: relative; overflow-x:hidden; font-family:'微软雅黑','微软雅黑 Regular','黑体','黑体 Regular','宋体 Regular','宋体','Arial Regular','Arial'; }
a{ color:#333; }
a:hover{ color:#0658b3; }
.wrap{ width:1230px; margin:0 auto; overflow:hidden; }

@font-face{
　　font-family:AvianRegular;
　　src:url('../font/AvianRegular.ttf');/*IE9*/
 }
@font-face{
　　font-family:colonnamt;
　　src:url('../font/colonnamt.ttf');/*IE9*/
 }
/*头部*/
.header{ width:1230px; top:0; left:50%; z-index: 10; position: absolute; margin-left:-615px; }
.headerTop{ height:116px; position: relative; }
.headerTop .logo{ width:490px; height:70px; margin:24px 0 0; }
.headerTop .mLogo{ display:block; }
.headerTop .pcLogo{ display:none; }
.logo img{ width:100%; display:block; }
.headerTop .search{ width:110px; height:28px; margin:44px 0 0; padding:0 30px 0 10px; position: relative; border:1px solid #bcbbb6; border-radius: 14px; }
.headerTop .search input{ width:100%; height:28px; border:0; background: none; font-size: 14px; color:#fff; }
.headerTop .search input.btn{ width:16px; height:16px; right:10px; top:50%; position: absolute; margin-top: -8px; background:url(../images/search.png) no-repeat center / cover; }




.headerTop .search input::-webkit-input-placeholder{
    color:#fff;
    opacity: 1;
}
.headerTop .search input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#fff;
    opacity: 1;
}
.headerTop .search input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#fff;
    opacity: 1;
}
.headerTop .search input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#fff;
    opacity: 1;
}

/*导航*/
.nav{ height:44px; padding:0 52px; background:#2984ea; }
.nav li{ padding:0 25px; font-size: 18px; margin:0 50px 0 0; float:left; line-height: 44px; position: relative; }
.nav li a{ color:#fff; }
.nav li.marR0{ margin-right: 0; }
.nav li:hover,.nav li.on{ background:#0c60bf; }


.nav ol{ width:100%; top:100%; left:0; position: absolute; display:none; padding:7px 0 13px; background:#0c60bf; }
.nav ol li{ margin:0; padding:0; font-size: 16px; text-align: center; float:none; }
.nav ol li:hover a{ text-decoration: underline; }

/*banner*/
.banner{ position: relative; width:100%; }
.banner .tempWrap{ width:100% !important; }
.banner img{ width:100%; display: block; }
.banner .hd{ width:100%; left:0; bottom:50px; text-align: center; position: absolute; z-index: 5; }
.banner .hd li{ width:10px; height:10px; margin:0 5px; cursor:pointer; display:inline-block; border:3px solid #fff; border-radius: 50%; }
.banner .hd li.on{ border-color:#0d5eb9; }
.banner .bd li{ position: relative; }
.banner .text{ top:50%; left:50%; position: absolute; transform:translate(-50%,-15%); color:#fff; text-align: center; text-shadow: 2px 0 15px rgba(7,1,2,0.6); }
.banner a:hover .text{ color:#fff; }
.banner h3{ font-size: 66px; font-weight: normal; padding:0 0 5px; position: relative; transition:all 0.5s; }
.banner h4{ font-size: 30px; text-transform: uppercase; font-family: "colonnamt"; position: relative; transition:all 1s 0.3s; }
.bannerTop{ transform:translateY(-150px); }
.bannerBottom{ transform:translateY(150px); }
.bannerLeft{ transform:translateX(-150px); }
.bannerRight{ transform:translateX(150px); }

.banner .swiper-slide{ height:750px; background-repeat: no-repeat; background-size: auto 100%; background-position: center; }

.banner .swiper-slide-active .bannerTop{ transform:translateY(0); }
.banner .swiper-slide-active .bannerBottom{ transform:translateY(0); }
.banner .swiper-slide-active .bannerLeft{ transform:translateX(0); }
.banner .swiper-slide-active .bannerRight{ transform:translateX(0); }

.banner .swiper-pagination{ bottom:50px; }
.banner .swiper-pagination-bullet{ width:10px; height:10px; margin:0 5px; cursor:pointer; display:inline-block; border:3px solid #fff; border-radius: 50%; opacity:1; background:none; }
.banner .swiper-pagination-bullet-active{ border-color:#0d5eb9; }


/*index1*/
.index1{ width:100%; padding:75px 0 90px; background:url(../images/index1Bg.jpg) no-repeat center / cover; background-attachment:fixed; }
.index1Title{ position: relative; height:56px; overflow:hidden; line-height: 56px; }
.index1Title::after{ width:850px; height:1px; background:#c3c3c3; left:270px; top:50%; position: absolute; content:""; }
.index1Title h2{ font-size: 26px; font-weight: normal; color:#223f7b; }
.index1Title h2 span{ text-transform: uppercase; color:#707070; font-family: 'Arial Regular','Arial'; font-size: 18px; }
.index1Title a{ color:#333; font-size: 14px; text-transform: uppercase; }
.index1Title a:hover{ color:#0658b3; }

/*新闻*/
.indexNewsCon{ padding:15px 0 93px; }
.indexNewsConL{ width:580px; }
.indexNewsConL_zhu{ padding:0 0 27px 86px; position: relative; border-bottom:1px dashed #c7c7c7; }
.indexNewsConL_zhu h3{ font-size: 20px; font-weight: normal; line-height: 20px; }
.indexNewsConL_zhu .time{ width:66px; height:75px; display:flex; align-items: center; flex-direction: column; justify-content: center; font-size: 12px; font-family: "AvianRegular"; text-align: center; color:#fff; left:0; top:0; position: absolute; background:url(../images/timeBg.jpg) no-repeat center / cover; }
.indexNewsConL_zhu .time h6{ font-size: 38px; font-weight: normal; line-height: 40px; }
.indexNewsConL_zhu .nr{ font-size:14px; color:#707070; line-height: 22px; height:44px; overflow: hidden; margin:13px 0 12px; }

.indexNewsConL_zhu .more{ color:#707070; text-transform:uppercase; font-size: 14px; font-family: 'Arial Regular','Arial'; }
.indexNewsConL_zhu .more:hover{ color:#0658b3; }
.indexNewsConL ul{ padding:18px 0 0; }
.indexNewsConL li{ padding: 0 0 0 30px; font-size: 16px; position: relative; height:30px; line-height: 30px; }
.indexNewsConL li::before{ width:12px; height:12px; content:""; left:3px; top:50%; position: absolute; margin-top: -5px; background:url(../images/yuan.png) no-repeat center / cover; }
.indexNewsConL li:hover::before{ background-image: url(../images/yuan1.png); }
.indexNewsConL li a{ width:460px; }
.indexNewsConL li span{ font-size: 14px; color:#707070; font-family: 'Arial Regular','Arial'; }
.indexNewsConR { width:616px; height:280px; overflow:hidden; }
.indexNewsConR li{ width:296px; height:270px; margin:0 0 0 12px; background:#fff; box-shadow: 0 0 10px rgba(7,1,2,0.18); }
.indexNewsConR li img{ display:block; width:100%; }
.indexNewsConR li .text{ padding:13px 26px 0; }
.indexNewsConR li p{ font-size: 14px; color:#707070; line-height: 26px; font-family: 'Arial Regular','Arial'; }
.indexNewsConR li h3{ font-size: 16px; font-weight: normal; }

/*讲座*/
.indexLecture .title_m{ display:none; }
.indexLecture{ height:381px; box-shadow:0 0 13px rgba(7,1,2,0.18); }
.indexLecture .title{ width:596px; height:381px; overflow:hidden; z-index: 2; position: relative; box-shadow: 0 0 10px rgba(7,1,2,0.18); }
.indexLecture .title img{ width:100%; display:block; }
.indexLectureCon{ width:632px; background:#fff; height:381px; }
.indexLectureCon .box{ padding:25px 50px 38px; }
.indexLectureCon .index1Title::after{ width:160px; }
.indexLectureCon .text h2{ font-size: 20px; font-weight: normal; line-height: 44px; }
.indexLectureCon .text .nr{ font-size: 14px; color:#707070; line-height: 22px; }
.indexLectureCon .text .nr span{ margin:0 100px 0 0; display:inline-block; }
.indexLectureCon ul{ padding:20px 0 0; }
.indexLectureCon li{ padding:20px 13px 16px 16px; width:145px; background:#f5f4fe; }
.indexLectureCon li h3{ font-size: 16px; font-weight:normal; line-height: 24px; height:48px; }
.indexLectureCon li p{ font-size: 14px; color:#707070; font-family: 'Arial Regular','Arial'; padding:15px 0 14px; }
.indexLectureCon li .go{ width:27px; height:27px; background:url(../images/go.png) no-repeat center / cover; display:block; }
.indexLectureCon li:nth-child(2n){ margin:0 3px; background:#edf5fa; }
.indexLectureCon li:hover{ background:#1889cf; }
.indexLectureCon li:hover p,.indexLectureCon li:hover a,.indexLectureCon li a:hover{ color:#fff; }
.indexLectureCon li:hover .go{ background-image: url(../images/go1.png); }
/*公告*/
.index2{ width:100%; padding:64px 0 76px; background:url(../images/index2Bg.jpg) no-repeat center / cover; }
.index2 .wrap{ padding:0 0 10px; }
.index2 .index1Title *{ color:#fff; }
.index2 .index1Title a:hover{ color:#fff; text-decoration: underline; }
.index2 .index1Title::after{ display:none; }
.index2 .con{ padding:10px 0 82px; position: relative; }
.index2 .picList li{ width:408px; background:#fff; }
.index2 .picList .liBox,.index2 .ggSlide .liBox{ padding:35px 35px 0 30px; position: relative; height:186px; border:1px solid #dedede; }
.index2 .picList h3,.index2 .ggSlide h3{ font-size: 20px; font-weight: normal; color:#333; line-height: 26px; max-height:52px; }
.index2 .picList p,.index2 .ggSlide p{ font-size: 14px; color:#707070; line-height: 22px; height:44px; margin:12px 0 20px; }
.index2 .picList span,.index2 .ggSlide span{ color:#707070; font-size: 14px; font-family: 'Arial Regular','Arial'; }
.index2 .picList img,.index2 .ggSlide img{ width:73px; height:73px; left:50%; bottom:-36px; position: absolute; margin-left: -36px; transition:all 0.5s; }
.index2 .picList li:hover img,.index2 .ggSlide .swiper-slide:hover img{ transform:rotate(180deg); }
.ggSlide .swiper-slide{ background:#fff; }
.index2 .hd{ width:100%; left:0; bottom:0px; position: absolute; height:1px; width:100%; background:#dedede; }
.index2 .hd::before{ width:15px; height:3px; content:""; left:0; top:-1px; background:#fff; position: absolute; }
.index2 .hd::after{ width:15px; height:3px; content:""; right:0; top:-1px; background:#fff; position: absolute; }
.index2 .hd ul{ left:50%; top:-10px; padding:0 13px; height:20px; border-radius: 10px; position: absolute; background:#fff; transform:translateX(-50%); }
.index2 .hd li{ width:20px; cursor:pointer; height:20px; display:inline-block; line-height: 20px; text-align: center; color:#333; font-size: 16px;  }
.index2 .hd li.on{ color:#c2830b; background:#fef0c6; border-radius: 10px; }
.index2 .picList{ padding-bottom: 37px !important; }

.index2 .con{ padding-bottom: 0; }
.index2 .ggSlide{ padding:0 0 27px; }
.index2 .ggBox{ padding:0 0 55px; }
.index2 .index2Pagination{ width:100%; left:0; bottom:0px; position: absolute; height:1px; width:100%; background:#dedede; }
.index2 .index2Pagination::before{ width:15px; height:3px; content:""; left:0; top:-1px; background:#fff; position: absolute; }
.index2 .index2Pagination::after{ width:15px; height:3px; content:""; right:0; top:-1px; background:#fff; position: absolute; }
.index2 .ggPagination{ left:50%; top:-10px; padding:0 13px; display:flex; align-items:center; height:20px; border-radius: 10px; position: absolute; background:#fff; transform:translateX(-50%); }
.index2 .swiper-pagination-bullet{ width:20px; cursor:pointer; height:20px; display:inline-block; line-height: 20px; background:none; opacity:1; text-align: center; color:#333; font-size: 16px; border-radius: 10px; }
.index2 .swiper-pagination-bullet-active{ color:#c2830b; background:#fef0c6; }

/*第三块*/
.index3{ padding:0 0 110px; background:url(../images/index3Bg.jpg) no-repeat center / cover; background-attachment:fixed; }
.indexTeam{ padding:100px 0 98px; }
.indexTeam .pic{ width:631px; height:357px; overflow: hidden; }
.indexTeam .pic img{ width:100%; display:block; }
.indexTeam .text{ width:565px; }
.indexTeam .teamTitle{ height:48px; position: relative;  }
.indexTeam .teamTitle img{ width:472px; height:64px; position:relative; top:-11px; left:-11px; }
.indexTeam .teamTitle h3{ font-size: 26px; left:0; bottom:0; position:absolute; color:#333333; font-weight: normal; }
.indexTeam .teamTitle h4{ font-size: 60px; color:rgba(255,255,255,0); text-transform: uppercase; text-shadow: 0 0 0 12px rgba(7,1,2,0.12); top:0; left:0; position: absolute; }
.indexTeam .text .nr{ font-size:16px; color:#333; padding:25px 0 0; line-height: 26px; text-indent: 2em; }

.indexTopic{ height:488px; position: relative; }
.indexTopic .title{ width:553px; height:250px; padding:66px 0 0 50px; background:rgba(255,255,255,0.4); box-shadow:0 0 13px rgba(7,1,2,0.18); }
.indexTopic .title h3{ font-size: 26px; color:#223f7b; font-weight: normal; line-height: 26px; height:40px; }
.indexTopic .title h4{ font-size: 18px; font-weight: normal; font-family: 'Arial Regular','Arial'; line-height:18px; text-transform: uppercase; color:#707070; }
.indexTopic ul{ width:100%; height:100%; top:0; left:0; position: absolute; z-index: 5; }
.indexTopic li{ width:404px; height:230px; overflow: hidden; position: absolute; top:199px; left:20px; }
.indexTopic li .text{ width:100%; left:0; bottom:26px; position: absolute; color:#fff; }
.indexTopic li h3{ font-size: 20px; font-weight: normal; line-height: 20px; height:33px; padding:0 45px 0 30px; }
.indexTopic li .nr{ font-size: 16px; line-height: 24px; height:48px; overflow: hidden; padding:0 45px 0 30px; }
.indexTopic li img{ width:100%; display:block; height:100%; transition:all 0.5s; }
.indexTopic li.li2{ top:32px; left:404px; }
.indexTopic li.li3{ top:262px; left:404px; }
.indexTopic li.li4{ top:0; left:808px; }
.indexTopic li.li5{ top:230px; left:808px; }
.indexTopic li:hover img{ transform:scale(1.1); }

/*第四块*/
.index4{ padding:77px 0 60px; background:url(../images/index4Bg.jpg) no-repeat center / cover; }
.index4 .index1Title::after{ display:none; }
.index4 .index1Title *{ color:#fff; }
.researchTeam{ width:790px; }
/*.researchTeam .picList li{ width:161px; margin:0 50px 0 0; }*/
/*.researchTeam .picList .pic{ width:161px; height:224px; overflow: hidden; margin:0 0 6px; }*/
.researchTeam .swiper-slide img{ display:block; width:100%; }
.researchTeam .swiper-slide h3 a{ font-size: 20px; color:#fff; font-weight: normal; line-height: 50px; }
.researchTeam .swiper-slide .nr{ font-size: 14px; line-height: 22px; height:44px; color:#fff; }
.researchTeam .con{ padding:0 0 44px; position: relative; }
.researchTeam .index4Kj{ width:100%; text-align: center; height:24px; line-height: 24px; bottom:0; left:0; position: absolute; }
.researchTeam .index4Kj .btn{ vertical-align: middle; position: static; margin:0; float:none; cursor:pointer; display:inline-block; width:14px; height:23px; background:url(../images/left.png) no-repeat center / cover; }
.researchTeam .index4Kj .btn.index4Next{ background-image:url(../images/right.png); }
.researchTeam .index4Kj .index4Pagination{ display:inline-block; position: static; line-height: 24px; padding:0 15px; }
.researchTeam .index4Kj .swiper-pagination-bullet{ display:inline-block; cursor:pointer; width:18px; height:18px; text-align: center; line-height: 18px; opacity:1; background:none; color:#fff; font-size: 14px; border-radius: 9px; }
.researchTeam .index4Kj .swiper-pagination-bullet-active{ background:#dcaf41; }

.teamManage{ width:357px; }
.teamManage ul{ padding:14px 0 0; }
.teamManage li{ padding:22px 38px 22px 83px; margin:0 0 5px; height:66px; line-height: 22px; border-left: 4px solid #dcaf41; background:#04569c url(../images/teamIcon.png) no-repeat 28px center; }
.teamManage li p{ height:66px; overflow: hidden; padding:0 0 0 20px; font-size: 14px; border-left:1px solid #689ac4; color:#fff; }

/*友情链接*/
.index5{ padding:54px 0 50px; background:url(../images/bg.jpg); }
.index5 .index1Title::after{ display:none; }
.index5 ul{ padding:15px 0 0; }
.index5 li{ width:230px; position: relative; height:82px; margin:0 20px 20px 0; }
.index5 li .pic{ width:100%; height:100%; overflow:hidden; left:0; top:0; position: absolute; transition:all 1s; box-shadow:0 0 13px rgba(7,1,2,0.18);  }
.index5 li img{ display:block; width:100%; }
.index5 li:nth-child(5n){ margin-right: 0; }
.index5 li h3{ width:100%; height:82px; line-height: 82px; font-size: 16px; font-weight: normal; top:0; left:0; position: absolute; background:#136ed4; color:#fff; text-align: center; transform: rotateY(180deg); backface-visibility: hidden; transition:all 1s; box-shadow:0 0 13px rgba(7,1,2,0.18);  }
.index5 li:hover h3{ transform: rotateY(0); }
.index5 li:hover .pic{ transform: rotateY(180deg); }
/*底部*/
.footer{ width:100%; background:url(../images/footerBg.jpg); }
.footer .line{ font-size: 16px; color:#fff; height:52px; line-height: 52px; border-bottom: 1px solid #676767; }
.footer .line a{ color:#fff; font-size: 14px; margin:0 20px 0 0; }
.footer .line a:hover{ color:#fff; text-decoration: underline; }

.foot{ padding:35px 0 30px; }
.footLogo{ width:490px; height:70px; overflow: hidden; }
.footLogo img{ width:100%; display:block; }
.foot .nr{ font-size: 14px; color:#fff; line-height: 26px; padding:4px 0 8px; margin:0 0 0 35px; padding:0 0 0 30px; border-left:1px solid #6c6c6c; }
.footEwm{ width:92px; height:92px; overflow: hidden; }
.footEwm img{ width:100%; display:block; }
.comTop{ width:40px; height:40px; right:50%; position: fixed; display:none; bottom:30px; margin-right: -680px; background:url(../images/top.png) no-repeat center / cover; }

.search_a{ width:24px; height:24px; right:35px; display:none; top:50%; position: absolute; margin-top: -12px; margin-right: 3%; background:url(../images/searchBtn.png) no-repeat center / cover; }


.nav_m{ width:100%; height:100%; top:0; left:0; position: fixed; z-index: 5; display:none; background:#fff; }
.nav_m ul{ padding:60px 3% 0; font-size: 14px; line-height: 42px; }
.nav_m li{ border-bottom:1px solid #ccc; font-weight: bold; }
.nav_m li a{ display:block; }
.nav_m li ol{ display:none; }
.nav_m li li{ border:0; padding:0 20px; font-weight: normal; }


.nav_a{ width:26px; height:20px; display:none; position: absolute; top:50%; right:3%; transform: translateY(-50%); }
.nav_a span{ width:26px; height:2px; background:#fff; top:0; left:0; position: absolute; transition:all 0.5s; }
.nav_a span:nth-child(2){ top:9px; }
.nav_a span:nth-child(3){ top:18px; }
.nav_a.on span:nth-child(1){ transform:rotate(45deg) translate(6px,6px); }
.nav_a.on span:nth-child(2){ transform:rotate(-45deg) translate(0px,0px); }
.nav_a.on span:nth-child(3){ opacity:0; }



@media only screen and (max-width: 479px) {
    .wrap{ width:94%; }
    .search_a,.nav_a,.headerTop .mLogo,.indexLecture .title_m{ display:block; }
    .headerTop .pcLogo,.indexLecture .title_pc{ display:none; }

    .comTop{ width:30px; height:30px; margin-right: 0; right:3%; }

    .headerTop .search{ margin:0; padding:10px 3%; background:#fff; border-radius: 0; width:94%; top:60px; left:0; position: fixed; z-index: 20; }
    .headerTop .search .box{ padding:0 50px 0 20px; position: relative; border:1px solid #bcbbb6; height:30px; line-height: 30px; border-radius: 15px; }
    .headerTop .search input{ color:#333; }
    .headerTop .search input.btn{ background-image:url(../images/search1.png); }




    .headerTop .search input::-webkit-input-placeholder{
        color:#333;
        opacity: 1;
    }
    .headerTop .search input::-moz-placeholder{   /* Mozilla Firefox 19+ */
        color:#333;
        opacity: 1;
    }
    .headerTop .search input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
        color:#333;
        opacity: 1;
    }
    .headerTop .search input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
        color:#333;
        opacity: 1;
    }

    .header{ position:fixed; width:100%; height:60px; left:0; margin-left: 0; background:#2984ea; }
    .nav,.search{ display:none; }
    .headerTop .logo{ width:64%; height:auto; margin-left: 3%; margin-top: 17px; }
    .headerTop{ height:100%; }
    .banner .swiper-slide{ height:350px; overflow:hidden; }
    .banner .swiper-pagination-bullet{ width:6px; height:6px; border-width: 1px; }
    .banner .swiper-pagination{ bottom: 10px; }
    .banner .text{ width:80%; }

    .index1{ padding:30px 0 0px; background-position:right center; background-image: url(../images/index1BgM.jpg); background-size: 100% auto; }
    .index1Title{ height:40px; line-height: 40px; }
    .index1Title h2{ font-size: 18px; }
    .index1Title h2 span,.index1Title a{ font-size: 12px; }
    .index1Title::after{ display:none; }
    .indexNewsConL{ width:100%; }
    .indexNewsCon{ padding:10px 0 20px; }
    .indexNewsConL_zhu{ padding:0 0 18px 68px; }
    .indexNewsConL_zhu .time{ width:56px; height:57px; }
    .indexNewsConL_zhu .time h6{ font-size: 22px; line-height: 26px; }
    .indexNewsConL_zhu .nr{ margin:8px 0 0px; font-size: 12px; line-height: 20px; }
    .indexNewsConL_zhu h3{ font-size: 16px; }
    .indexNewsConL_zhu .more,.indexNewsConL li span{ font-size: 12px; }
    .indexNewsConL ul{ padding:10px 0; }
    .indexNewsConL li{ padding:0 0 0 20px; }
    .indexNewsConL li a{ width:75%; font-size: 12px; }
    .indexNewsConL li::before{ left:0; }
    .indexNewsConR{ width:100%; height:auto; }
    .indexNewsConR li .text{ padding:10px; }
    .indexNewsConR li p{ font-size: 12px; line-height: 20px; }
    .indexNewsConR li h3{ font-size: 14px; }
    .indexNewsConR li{ width:100%; height:auto; margin:0 0 10px; }


    .indexLecture .title{ width:100%; height:auto; }
    .indexLecture{ box-shadow: none; }
    .indexLectureCon{ width:100%; height:auto; background:none; }
    .indexLectureCon .box{ padding:12px 0px 0; }
    .indexLectureCon .text h2{ font-size: 16px; line-height: 32px; }
    .indexLectureCon .text .nr{ font-size: 12px; }
    .indexLectureCon ul{ padding-bottom: 50px; }
    .indexLectureCon li{ width:28%; height:auto; padding:10px 2%; margin:0 2% 0 0; background:rgba(255,255,255,0.9); box-shadow: 0 0 10px rgba(7,1,2,0.18); }

    .indexLectureCon li:nth-child(3){ margin-right: 0; }
    .indexLectureCon li:nth-child(2n){ margin:0 2% 0 0; background:rgba(255,255,255,0.9); }
    .indexLectureCon li .go{ width:20px; height:20px; }
    .indexLectureCon li h3{ font-size: 14px; line-height: 18px; height:36px; }
    .indexLectureCon li p{ margin:10px 0; padding:0; }
    .index2{ padding:45px 0; }
    .index2 .picList .liBox, .index2 .ggSlide .liBox{ padding:20px; }
    .index2 .picList h3, .index2 .ggSlide h3{ font-size: 16px; line-height: 20px; max-height: 40px; }
    .index2 .picList img, .index2 .ggSlide img{ width:50px; height:50px; margin-left: -25px; bottom:-25px; }
    .index2 .ggBox{ padding-bottom: 15px; }
    .index2 .picList p, .index2 .ggSlide p{ margin:8px 0 10px; }
    .index2 .picList .liBox, .index2 .ggSlide .liBox{ height:135px; }
    
    .index3{ padding-bottom: 50px; }
    .indexTeam{ padding:50px 0 45px; }
    .indexTeam .pic{ width:100%; height:auto; }

    .indexTeam .text{ width:100%; }
    .indexTeam .teamTitle h4{ width:100%; }
    .indexTeam .teamTitle h3{ font-size: 18px; }
    .indexTeam .teamTitle h4 img{ width:100%; height:auto; }
    .indexTeam .text .nr{ padding:15px 0 0; font-size: 12px; line-height: 20px; }

    .indexTopic ul{ height:auto; position: static; }
    .indexTopic li{ position: static; width:auto; height:auto; }
    .indexTopic{ height:auto; }
    .indexTopic .title{ width:auto; padding:0 0 10px; height:auto; box-shadow: none; background:none; }
    .indexTopic .title h3{font-size: 18px; line-height: 18px; height:20px; }
    .indexTopic .title h4{ font-size:12px; }
    .indexTopic li h3{ padding:0 15px; width:auto; font-size: 16px; height:26px; }
    .indexTopic li .nr{ padding:0 15px; font-size: 12px; line-height: 20px; }
    .indexTopic li .text{ bottom:10px; }
    
    .researchTeam,.teamManage{ width:100%; }
    .researchTeam .con{ padding-top: 20px; }
    .researchTeam .swiper-slide h3 a{ font-size: 16px; line-height: 40px; } 
    .researchTeam .swiper-slide .nr{ font-size: 12px; line-height: 20px; }
    .teamManage{ padding:40px 0 0; }
    .teamManage li{ padding:15px 10px 15px 70px; background-position: 18px center; }
    
    .index4{ padding:35px 0 30px; }

    .index5{ padding:30px 0; }
    .index5 li{ width:49%; height:54px; margin:0 2% 5px 0; }
    .index5 li h3{ height:54px; line-height: 54px; }
    .index5 li:nth-child(5n){ margin-right: 2%; }
    .index5 li:nth-child(2n){ margin-right: 0; }

    .footLogo{ width:90%; height:auto; margin:0 auto 10px; float:none; }
    .foot .nr{ width:100%; margin:0; padding:0; border:0; font-size: 12px; text-align: center; line-height: 20px; }
    .footEwm{ margin:0 auto 0; float:none; padding:20px 0 0; }
}